<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <form method="POST" action="/">
        Name:<input type="text" name="name"/>



        ClassId Dropdown : <select name="selectedid">
       {% for class in classdetails %}
  <option value="{{class.id}}">

      {{class.name}} - {{class.id}}

  </option>
{% endfor %}
   </select>
       Appoint as Class Leader :
       <select name="classleader">
  <option value="Yes">Yes</option>
  <option value="No">No</option>
   </select>


          <input class="btn btn-success" type="submit" value="Add">
    </form>
</body>
</html>