<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<center>
    <h1>CLASS DETAILS</h1><hr>
    <a href="/" class="btn btn-success">Back to Homepage </a><br><br>
   <form method="POST" action="/show_class">

        ClassId Dropdown : <select name="selectedid">
       {% for class in classdet %}
  <option value="{{class.id}}">

      {{class.name}} - {{class.id}}

  </option>
{% endfor %}
   </select>


          <input class="btn btn-success" type="submit" value="Show">
    </form>
    <hr>
</center>

<table class="table">
  <thead>
  <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Created On</th>
      <th scope="col">Updated On</th>
  </tr>
  </thead>
    <tbody>
{% if students is not none %}
<center><h3>Class Leader ID : {{students.class_leader}}</h3></center><br>
<center><h3>Class Name : {{students.name}}</h3></center><br>
   {% for relation in students.student %}
<tr>
      <td>{{relation.id}}</td>
      <td>{{relation.name}}</td>
      <td>{{relation.created_on}}</td>
      <td>{{relation.updated_on}}</td>
          <br>
      </tr>
     {% endfor %}
 </tbody>
{% else %}
        <p>Please select an option</p>
   {% endif %}
</table>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>